
{{ template "partials/header.html" . }}

<div class="container">
    
    
    
    <div class="row">
        <div class="col-md-12">
            <div class="pricing-title">
                Free 30-day trial. No credit card required.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 plan-container">
            
                <div class="plan">
                    <div class="title"><h3>Startup</h3></div>
                    <div class="price">
                        <h2>$ 20
                            <small>/mo.</small>
                        </h2>
                    </div>
                    <div class="content">Up to 25 users</div>
                    <div class="footer">
                        <a href="http://app.onleaveapp.com/auth/signup/?plan=/onleave-startup"
                           class="btn btn-primary btn-lg">Sign up</a>
                    </div>
                </div>
            
                <div class="plan">
                    <div class="title"><h3>Pro</h3></div>
                    <div class="price">
                        <h2>$ 50
                            <small>/mo.</small>
                        </h2>
                    </div>
                    <div class="content">Up to 100 users</div>
                    <div class="footer">
                        <a href="http://app.onleaveapp.com/auth/signup/?plan=/onleave-pro"
                           class="btn btn-primary btn-lg">Sign up</a>
                    </div>
                </div>
            
                <div class="plan">
                    <div class="title"><h3>Ultimate</h3></div>
                    <div class="price">
                        <h2>$ 110
                            <small>/mo.</small>
                        </h2>
                    </div>
                    <div class="content">Up to 500 users</div>
                    <div class="footer">
                        <a href="http://app.onleaveapp.com/auth/signup/?plan=/onleave-ultimate"
                           class="btn btn-primary btn-lg">Sign up</a>
                    </div>
                </div>
            
        </div>
    </div>   
</div>
{{ template "partials/footer.html" . }}