{{ template "partials/header.html" . }}
    <div class="row main-hero">
        <div class="col-md-12">
            <h1>Apply Leave, Simplified.</h1>

            <h2><span class="minimum-box">OnLeave helps offices all around the world manage leave applications with minimum effort.</span>
            </h2>

            <div>
                <a href="/pricing/" class="btn btn-primary btn-lg">Get Started Now</a>
            </div>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-md-6">
            <div class="inner right-item">
                <div class="vcenter">
                    <img src="{{ .Site.BaseUrl }}images/main-page/dashboard.png" alt="Clean and simple dashboard"
                         class="img-rounded">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner left-item">
                <div class="vcenter">
                    <div class="text">
                        <h2>View approved, declined leave</h2>
                        Onleave provides clean and simple view of leave applications. Once login, users can see the status of their application.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-content alt">
        <div class="col-md-6">
            <div class="inner right-item">
                <div class="vcenter">
                    <div class="text"><h2>Simple form to apply leave</h2>
                        No complicated worflow or process to apply leave. Just click 'apply leave', and you are set to
                        go. The balance of entitled leave will be showed on the same page.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner left-item">
                <div class="vcenter">
                    <img src="{{ .Site.BaseUrl }}images/main-page/apply.png" alt="Easy form to apply leave"
                         class="img-rounded">
                </div>
            </div>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-md-6">
            <div class="inner right-item">
                <div class="vcenter">
                    <img src="{{ .Site.BaseUrl }}images/main-page/calendar.png" alt="Broad view for applied leaves"
                         class="img-rounded">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner left-item">
                <div class="vcenter">
                    <div class="text"><h2>Bird view for all leave</h2>
                        View all leaves in calendar view. If you are manager, you can see all leave of your staff and
                        easy to make decision.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-content alt">
        <div class="col-md-6">
            <div class="inner right-item">
                <div class="vcenter">
                    <div class="text"><h2>Centralized user management</h2>
                        Manage staff, approvers and department using comprehensive management tool. Search, create, edit and delete staff without hassle.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner left-item">
                <div class="vcenter">
                    <img src="{{ .Site.BaseUrl }}images/main-page/approvers.png" alt="Management tool" class="img-rounded">
                </div>
            </div>
        </div>
    </div>
    <div class="row main-footer">
        <div class="col-md-12">
            <a href="/pricing/" class="btn btn-primary btn-lg"><i
                    class="fa fa-chevron-right"></i> Start your free trial now</a>
        </div>
    </div>
{{ template "partials/footer.html" . }}