{{ template "partials/header.html" . }}
    <div class="row main-hero">
        <div class="col-md-12">
            <h1>Leave tracking leave to us</h1>

            <h2><span class="minimum-box"><strong>Tracking leave requests</strong> is time consuming, tedious, and important. OnLeave will help you <strong>minimize the time and trouble</strong> while maximizing accuracy so you can spend less time dealing with administrative minutia, and <strong>more time growing your business</strong>.</span>
            </h2>

            <div>
                <a href="/pricing/" class="btn btn-primary btn-lg">Get Started Now</a>
            </div>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-md-6">
            <div class="inner right-item">
                <div class="vcenter">
                    <img src="{{ .Site.BaseUrl }}images/main-page/dashboard.png" alt="Clean and simple dashboard"
                         class="img-rounded">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner left-item">
                <div class="vcenter">
                    <div class="text">
                        <h2>Clean, Clear Interface</h2>
                        OnLeave features <strong>a clean, clear interface</strong> that has all the information you need and none of the information you don’t. 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-content alt">
        <div class="col-md-6">
            <div class="inner right-item">
                <div class="vcenter">
                    <div class="text"><h2>Simplicity is our Hallmark</h2>
                        We <strong>don’t believe in complicated workflows</strong> and processes. We are all about simplification. Managers can log on to approve or deny leave requests, and workers can log on to submit or <strong>check the status of a leave request</strong>. It’s all simple, clean, and clear.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner left-item">
                <div class="vcenter">
                    <img src="{{ .Site.BaseUrl }}images/main-page/apply.png" alt="Easy form to apply leave"
                         class="img-rounded">
                </div>
            </div>
        </div>
    </div>
    <div class="row main-content">
        <div class="col-md-6">
            <div class="inner right-item">
                <div class="vcenter">
                    <img src="{{ .Site.BaseUrl }}images/main-page/calendar.png" alt="Broad view for applied leaves"
                         class="img-rounded">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner left-item">
                <div class="vcenter">
                    <div class="text"><h2>Our calendar view lets you see all leave requests from a bird’s eye view</h2>
                        You can see who has requested leave and for what dates so you have everything you need to ensure your staffing requirements are met. And again, it’s all in a clean, clear interface that anyone can use.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-content alt">
        <div class="col-md-6">
            <div class="inner right-item">
                <div class="vcenter">
                    <div class="text"><h2>Every system needs to manage users</h2>
                        We make that as simple as possible with our comprehensive management tool. <strong>Create new users simply and easily</strong>. Define them as management or workers just as easily. We designed everything to be as simple and clear as possible.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="inner left-item">
                <div class="vcenter">
                    <img src="{{ .Site.BaseUrl }}images/main-page/approvers.png" alt="Management tool" class="img-rounded">
                </div>
            </div>
        </div>
    </div>
    <div class="row main-footer">
        <div class="col-md-12">
            <a href="/pricing/" class="btn btn-primary btn-lg"><i
                    class="fa fa-chevron-right"></i> Start your free trial now</a>
        </div>
    </div>
{{ template "partials/footer.html" . }}